.container {
    --width: 1340px;
    --padding: 16px;

    width: min(var(--width), 100% - var(--padding));
    padding-top: 40px;
    margin-inline: auto;
    height: 100%;

    font-family: var(--ff-primary);
}

.container * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title {
    font-size: var(--fs-600);
    font-weight: var(--fw-700);
    line-height: var(--line-height-600);

    margin-bottom: 20px;
}

.content-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
    height: 100%;
}
