.modalContent {
  --_width: 720px;

  position: relative;
  z-index: 100;
  background-color: var(--modal-bg);
  border: 1px solid var(--modal-border);
  border-radius: 40px;
  padding: 40px 40px 60px;
  width: min(var(--_width), 100% - 10px);
  box-sizing: border-box;

  cursor: auto;
}

.title {
  text-align: left;
  font-size: 36px;
  font-weight: 700;
  line-height: 60px;
  margin: 0;
}

.wrapper {
  max-width: 520px;
  margin-inline: auto;
}

.caption {
  font-size: 24px;
  font-weight: 700;
  padding: 16px 0 32px;
}

.stats {
  display: flex;
  gap: 20px;
  justify-content: center;
  color: var(--text-clr-accent);
}

.stat {
  display: grid;
  gap: 8px;
}

.statNum {
  font-size: 24px;
}

.image {
  min-height: 240px;
}