.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-500);
  padding-block: 16px;
}

.nav {
  --_width: 1280px;
  --_padding: 16px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: min(var(--_width), 100% - var(--_padding));
  max-height: 88px;
}

.tabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 48px;
}

.tab {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  color: var(--clr-primary);
  opacity: 0.6;
  transition: opacity 200ms ease-in;
}

.tab_active {
  composes: tab;
  opacity: 1;
}

.tab:hover {
  opacity: 1;
  cursor: pointer;
}
