.draggableElements::-webkit-scrollbar {
  width: 5px;
}

.draggableElements::-webkit-scrollbar-track {
  background: transparent;
}

.draggableElements::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--clr-accent);
}

.elementsGrid {
  display: grid;
  place-items: end;
  gap: 16px;
  padding: 100px 16px 20px;
  height: 656px;
}

.draggableElements {
  display: grid;
  gap: 16px;

  height: 464px;
  overflow-y: scroll;
  scrollbar-gutter: stable;
}

.totalPrice {
  font-size: var(--fs-700);
  line-height: var(--line-height-600);
  font-family: var(--ff-secondary);
}

.order {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: end;
}

.priceContainer {
  display: flex;
  gap: 6px;
  align-items: center;
}

.draggable {
  display: flex;
  gap: 8px;
  align-items: center;
}
