.app {
  display: grid;
  height: 100vh;
  background-color: var(--bg-400);
  color: var(--clr-primary);
  font-family: var(--ff-primary);
}

.container {
  --_width: 1280px;
  --_padding: 16px;

  box-sizing: border-box;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  width: min(var(--_width), 100% - var(--_padding));
  max-height: 100%;
  overflow: hidden;
  margin-inline: auto;
  padding: 40px 10px 0;
}

@media (max-width: 1260px) {
  .app {
    height: auto;
  }

  .container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    padding: clamp(10px, 3vw, 32px);
  }
}
